@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-950 text-white;
}

@layer utilities {
  .markdown {
    @apply max-w-full prose prose-p:text-slate-100 prose-ol:text-slate-100 prose-ul:text-slate-100 prose-strong:text-white prose-headings:text-white;
  }

  .markdown-editor {
    @apply prose max-w-full prose-p:m-0 prose-headings:text-white prose-p:text-slate-100 prose-ul:text-slate-100 prose-ol:text-slate-100 prose-strong:text-white prose-blockquote:text-slate-100 border border-gray-800 rounded-lg;
  }
}

.mdxeditor-toolbar {
  background: #ffffff !important;
}

.dark .mdxeditor-toolbar {
  background: #151821 !important;
}

.dark .mdxeditor-toolbar button svg {
  color: #858ead !important;
}

.dark .mdxeditor-toolbar button:hover svg {
  color: #000 !important;
}

.dark .mdxeditor-toolbar [role="separator"] {
  border-color: #555 !important;
}

.markdown a {
  color: #1da1f2;
}

.markdown a,
code {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  padding: 2px;
  color: #ff7000 !important;
}

.markdown pre {
  display: grid;
  width: 100%;
}

.markdown pre code {
  width: 100%;
  display: block;
  overflow-x: auto;

  color: inherit !important;
}

[data-lexical-editor="true"] {
  height: 600px !important;
  overflow-y: auto !important;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
